# Introduction to Pandas

* Object Creation
* Viewing data
* Selection
* Missing data
* Grouping
* Reshaping
* Time series
* Plotting
* i/o
 

_pandas.pydata.org_

## Pandas Overview

This is the jupyter notebook that goes with this documentation: [http://pandas.pydata.org/pandas-docs/stable/10min.html](http://pandas.pydata.org/pandas-docs/stable/10min.html)_

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dates = pd.date_range('20140101',periods=6)
dates

DatetimeIndex(['2014-01-01', '2014-01-02', '2014-01-03', '2014-01-04',
               '2014-01-05', '2014-01-06'],
              dtype='datetime64[ns]', freq='D')

In [3]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
z = pd.DataFrame(index = df.index, columns = df.columns)
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [6]:
# Index, columns, underlying numpy data
df.T

   2014-01-01  2014-01-02  2014-01-03  2014-01-04  2014-01-05  2014-01-06
A    0.147105   -2.900504    1.393140   -1.241641   -0.150591   -0.368907
B   -1.139423   -0.718191   -0.004494   -0.707559   -0.741026    1.048990
C    0.629862   -0.221979    1.165608    0.208656    0.530630    0.617638
D   -0.573846    1.736506   -0.608211   -0.629287   -0.697781    0.548682

In [5]:
df

                   A         B         C         D
2014-01-01  0.147105 -1.139423  0.629862 -0.573846
2014-01-02 -2.900504 -0.718191 -0.221979  1.736506
2014-01-03  1.393140 -0.004494  1.165608 -0.608211
2014-01-04 -1.241641 -0.707559  0.208656 -0.629287
2014-01-05 -0.150591 -0.741026  0.530630 -0.697781
2014-01-06 -0.368907  1.048990  0.617638  0.548682

In [7]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : 'foo' })
 

df2

     A          B    C  D    E
0  1.0 2013-01-02  1.0  3  foo
1  1.0 2013-01-02  1.0  3  foo
2  1.0 2013-01-02  1.0  3  foo
3  1.0 2013-01-02  1.0  3  foo

In [8]:
# With specific dtypes
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E            object
dtype: object

#### Viewing Data

In [9]:
df.head()

                   A         B         C         D
2014-01-01  0.147105 -1.139423  0.629862 -0.573846
2014-01-02 -2.900504 -0.718191 -0.221979  1.736506
2014-01-03  1.393140 -0.004494  1.165608 -0.608211
2014-01-04 -1.241641 -0.707559  0.208656 -0.629287
2014-01-05 -0.150591 -0.741026  0.530630 -0.697781

In [10]:
df.tail()

                   A         B         C         D
2014-01-02 -2.900504 -0.718191 -0.221979  1.736506
2014-01-03  1.393140 -0.004494  1.165608 -0.608211
2014-01-04 -1.241641 -0.707559  0.208656 -0.629287
2014-01-05 -0.150591 -0.741026  0.530630 -0.697781
2014-01-06 -0.368907  1.048990  0.617638  0.548682

In [11]:
df.index

DatetimeIndex(['2014-01-01', '2014-01-02', '2014-01-03', '2014-01-04',
               '2014-01-05', '2014-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.520233 -0.376951  0.488403 -0.037323
std    1.445821  0.788885  0.464759  0.988966
min   -2.900504 -1.139423 -0.221979 -0.697781
25%   -1.023457 -0.735317  0.289150 -0.624018
50%   -0.259749 -0.712875  0.574134 -0.591028
75%    0.072681 -0.180260  0.626806  0.268050
max    1.393140  1.048990  1.165608  1.736506

In [13]:
df.sort_values(by='B')
df

                   A         B         C         D
2014-01-01  0.147105 -1.139423  0.629862 -0.573846
2014-01-02 -2.900504 -0.718191 -0.221979  1.736506
2014-01-03  1.393140 -0.004494  1.165608 -0.608211
2014-01-04 -1.241641 -0.707559  0.208656 -0.629287
2014-01-05 -0.150591 -0.741026  0.530630 -0.697781
2014-01-06 -0.368907  1.048990  0.617638  0.548682

### Selection

In [14]:
df[['A','B']]

                   A         B
2014-01-01  0.147105 -1.139423
2014-01-02 -2.900504 -0.718191
2014-01-03  1.393140 -0.004494
2014-01-04 -1.241641 -0.707559
2014-01-05 -0.150591 -0.741026
2014-01-06 -0.368907  1.048990

In [15]:
df[0:3]

                   A         B         C         D
2014-01-01  0.147105 -1.139423  0.629862 -0.573846
2014-01-02 -2.900504 -0.718191 -0.221979  1.736506
2014-01-03  1.393140 -0.004494  1.165608 -0.608211

In [16]:
# By label
df.loc[dates[0]]

A    0.147105
B   -1.139423
C    0.629862
D   -0.573846
Name: 2014-01-01 00:00:00, dtype: float64

In [17]:
# multi-axis by label
df.loc[:,['A','B']]

                   A         B
2014-01-01  0.147105 -1.139423
2014-01-02 -2.900504 -0.718191
2014-01-03  1.393140 -0.004494
2014-01-04 -1.241641 -0.707559
2014-01-05 -0.150591 -0.741026
2014-01-06 -0.368907  1.048990

In [18]:
# Date Range
df.loc['20140102':'20140104',['B']]

                   B
2014-01-02 -0.718191
2014-01-03 -0.004494
2014-01-04 -0.707559

In [19]:
# Fast access to scalar
df.at[dates[1],'B']

-0.71819128777709873

In [20]:
# iloc provides integer locations similar to np style
df.iloc[3:]

                   A         B         C         D
2014-01-04 -1.241641 -0.707559  0.208656 -0.629287
2014-01-05 -0.150591 -0.741026  0.530630 -0.697781
2014-01-06 -0.368907  1.048990  0.617638  0.548682

### Boolean Indexing

In [21]:
df[df.A < 0] # Basically a 'where' operation

                   A         B         C         D
2014-01-02 -2.900504 -0.718191 -0.221979  1.736506
2014-01-04 -1.241641 -0.707559  0.208656 -0.629287
2014-01-05 -0.150591 -0.741026  0.530630 -0.697781
2014-01-06 -0.368907  1.048990  0.617638  0.548682

### Setting

In [22]:
df_posA = df.copy() # Without "copy" it would act on the dataset

df_posA[df_posA.A < 0] = -1*df_posA

In [23]:
df_posA

                   A         B         C         D
2014-01-01  0.147105 -1.139423  0.629862 -0.573846
2014-01-02  2.900504  0.718191  0.221979 -1.736506
2014-01-03  1.393140 -0.004494  1.165608 -0.608211
2014-01-04  1.241641  0.707559 -0.208656  0.629287
2014-01-05  0.150591  0.741026 -0.530630  0.697781
2014-01-06  0.368907 -1.048990 -0.617638 -0.548682

In [24]:
#Setting new column aligns data by index
s1 = pd.Series([1,2,3,4,5,6],index=pd.date_range('20140102',periods=6))

In [25]:
s1

2014-01-02    1
2014-01-03    2
2014-01-04    3
2014-01-05    4
2014-01-06    5
2014-01-07    6
Freq: D, dtype: int64

In [26]:
df['F'] = s1

In [27]:
df

                   A         B         C         D    F
2014-01-01  0.147105 -1.139423  0.629862 -0.573846  NaN
2014-01-02 -2.900504 -0.718191 -0.221979  1.736506  1.0
2014-01-03  1.393140 -0.004494  1.165608 -0.608211  2.0
2014-01-04 -1.241641 -0.707559  0.208656 -0.629287  3.0
2014-01-05 -0.150591 -0.741026  0.530630 -0.697781  4.0
2014-01-06 -0.368907  1.048990  0.617638  0.548682  5.0

### Missing Data

In [28]:
# Add a column with missing data
df1 = df.reindex(index=dates[0:4],columns=list(df.columns) + ['E'])

In [29]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [30]:
df1

                   A         B         C         D    F    E
2014-01-01  0.147105 -1.139423  0.629862 -0.573846  NaN  1.0
2014-01-02 -2.900504 -0.718191 -0.221979  1.736506  1.0  1.0
2014-01-03  1.393140 -0.004494  1.165608 -0.608211  2.0  NaN
2014-01-04 -1.241641 -0.707559  0.208656 -0.629287  3.0  NaN

In [31]:
# find where values are null
pd.isnull(df1)

                A      B      C      D      F      E
2014-01-01  False  False  False  False   True  False
2014-01-02  False  False  False  False  False  False
2014-01-03  False  False  False  False  False   True
2014-01-04  False  False  False  False  False   True

### Operations

In [32]:
df.describe()

              A         B         C         D         F
count  6.000000  6.000000  6.000000  6.000000  5.000000
mean  -0.520233 -0.376951  0.488403 -0.037323  3.000000
std    1.445821  0.788885  0.464759  0.988966  1.581139
min   -2.900504 -1.139423 -0.221979 -0.697781  1.000000
25%   -1.023457 -0.735317  0.289150 -0.624018  2.000000
50%   -0.259749 -0.712875  0.574134 -0.591028  3.000000
75%    0.072681 -0.180260  0.626806  0.268050  4.000000
max    1.393140  1.048990  1.165608  1.736506  5.000000

In [33]:
df.mean(),df.mean(1) # Operation on two different axes

(A   -0.520233
 B   -0.376951
 C    0.488403
 D   -0.037323
 F    3.000000
 dtype: float64, 2014-01-01   -0.234075
 2014-01-02   -0.220834
 2014-01-03    0.789209
 2014-01-04    0.126034
 2014-01-05    0.588246
 2014-01-06    1.369281
 Freq: D, dtype: float64)

### Applying functions

In [34]:
df

                   A         B         C         D    F
2014-01-01  0.147105 -1.139423  0.629862 -0.573846  NaN
2014-01-02 -2.900504 -0.718191 -0.221979  1.736506  1.0
2014-01-03  1.393140 -0.004494  1.165608 -0.608211  2.0
2014-01-04 -1.241641 -0.707559  0.208656 -0.629287  3.0
2014-01-05 -0.150591 -0.741026  0.530630 -0.697781  4.0
2014-01-06 -0.368907  1.048990  0.617638  0.548682  5.0

In [35]:
df.apply(np.cumsum)

                   A         B         C         D     F
2014-01-01  0.147105 -1.139423  0.629862 -0.573846   NaN
2014-01-02 -2.753398 -1.857614  0.407883  1.162660   1.0
2014-01-03 -1.360258 -1.862108  1.573491  0.554449   3.0
2014-01-04 -2.601899 -2.569668  1.782147 -0.074838   6.0
2014-01-05 -2.752490 -3.310694  2.312778 -0.772619  10.0
2014-01-06 -3.121397 -2.261703  2.930416 -0.223937  15.0

In [36]:
df.apply(lambda x: x.max() - x.min())

A    4.293644
B    2.188414
C    1.387587
D    2.434287
F    4.000000
dtype: float64

In [37]:
# Built in string methods
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

### Merge

In [38]:
np.random.randn(10,4)

array([[ 0.95032202, -1.57719313,  0.73683554, -0.28545032],
       [ 0.29249495,  0.84392683,  0.66826937, -0.39855413],
       [-0.1860262 , -0.22983317, -1.5663221 ,  1.04112962],
       [ 0.16879101, -1.00171565,  0.74578831, -1.06736455],
       [-2.14368644,  0.07534374,  1.19807339,  0.52976002],
       [ 0.38650732,  1.89259979,  0.05734527, -0.74246154],
       [-0.35030681,  0.79751753, -0.41260107,  1.41702465],
       [-0.05595125, -0.74526662,  1.66786121,  0.48173055],
       [-1.06958133, -0.65047467, -0.60570489, -2.17370674],
       [-0.63188121,  0.5618457 ,  1.10258686,  0.24862887]])

In [39]:
#Concatenating pandas objects together
df = pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0 -1.182960 -2.294490 -1.662117 -1.326167
1  0.295615 -0.655476  1.644429 -1.401784
2 -0.767558 -1.050684 -0.061149 -2.628833
3 -0.680130 -1.407558 -0.335657 -0.060781
4 -0.178001 -0.051467 -0.431336 -0.340733
5  0.001895  0.722660  0.960051 -1.833425
6 -0.488603 -2.092232  0.574289  0.525231
7  1.623445 -0.149250  1.511852  0.811843
8 -0.515823  0.620245  0.247635 -0.288612
9  1.341207  0.641479 -1.875962  0.782356

In [40]:
# Break it into pieces
pieces = [df[:3], df[3:7],df[7:]]
pieces

[          0         1         2         3
 0 -1.182960 -2.294490 -1.662117 -1.326167
 1  0.295615 -0.655476  1.644429 -1.401784
 2 -0.767558 -1.050684 -0.061149 -2.628833,
           0         1         2         3
 3 -0.680130 -1.407558 -0.335657 -0.060781
 4 -0.178001 -0.051467 -0.431336 -0.340733
 5  0.001895  0.722660  0.960051 -1.833425
 6 -0.488603 -2.092232  0.574289  0.525231,
           0         1         2         3
 7  1.623445 -0.149250  1.511852  0.811843
 8 -0.515823  0.620245  0.247635 -0.288612
 9  1.341207  0.641479 -1.875962  0.782356]

In [41]:
pd.concat(pieces)

          0         1         2         3
0 -1.182960 -2.294490 -1.662117 -1.326167
1  0.295615 -0.655476  1.644429 -1.401784
2 -0.767558 -1.050684 -0.061149 -2.628833
3 -0.680130 -1.407558 -0.335657 -0.060781
4 -0.178001 -0.051467 -0.431336 -0.340733
5  0.001895  0.722660  0.960051 -1.833425
6 -0.488603 -2.092232  0.574289  0.525231
7  1.623445 -0.149250  1.511852  0.811843
8 -0.515823  0.620245  0.247635 -0.288612
9  1.341207  0.641479 -1.875962  0.782356

In [42]:
# Also can "Join" and "Append"
df

          0         1         2         3
0 -1.182960 -2.294490 -1.662117 -1.326167
1  0.295615 -0.655476  1.644429 -1.401784
2 -0.767558 -1.050684 -0.061149 -2.628833
3 -0.680130 -1.407558 -0.335657 -0.060781
4 -0.178001 -0.051467 -0.431336 -0.340733
5  0.001895  0.722660  0.960051 -1.833425
6 -0.488603 -2.092232  0.574289  0.525231
7  1.623445 -0.149250  1.511852  0.811843
8 -0.515823  0.620245  0.247635 -0.288612
9  1.341207  0.641479 -1.875962  0.782356

### Grouping

In [43]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                       'foo', 'bar', 'foo', 'foo'],
                       'B' : ['one', 'one', 'two', 'three',
                             'two', 'two', 'one', 'three'],
                       'C' : np.random.randn(8),
                       'D' : np.random.randn(8)})

In [44]:
df

     A      B         C         D
0  foo    one  0.180958  1.717017
1  bar    one -1.063539  0.059332
2  foo    two  0.658570 -1.015058
3  bar  three -0.158027 -0.628020
4  foo    two  0.293785  0.535188
5  bar    two  0.565501  0.178809
6  foo    one  0.207358  2.073007
7  foo  three -0.626874 -0.703530

In [45]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one   -1.063539  0.059332
    three -0.158027 -0.628020
    two    0.565501  0.178809
foo one    0.388317  3.790024
    three -0.626874 -0.703530
    two    0.952355 -0.479870

### Reshaping

In [46]:
# You can also stack or unstack levels

In [47]:
a = df.groupby(['A','B']).sum()

In [48]:
a

                  C         D
A   B
bar one   -1.063539  0.059332
    three -0.158027 -0.628020
    two    0.565501  0.178809
foo one    0.388317  3.790024
    three -0.626874 -0.703530
    two    0.952355 -0.479870

In [49]:
# Pivot Tables
pd.pivot_table(df,values=['C','D'],index=['A'],columns=['B'])

            C                             D
B         one     three       two       one    three       two
A
bar -1.063539 -0.158027  0.565501  0.059332 -0.62802  0.178809
foo  0.194158 -0.626874  0.476178  1.895012 -0.70353 -0.239935

### Time Series

In [50]:
import pandas as pd
import numpy as np

In [53]:
# 100 Seconds starting on January 1st
rng = pd.date_range('1/1/2014', periods=100, freq='S')

rng

In [54]:
# Give each second a random value
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

In [55]:
ts

2014-01-01 00:00:00    396
2014-01-01 00:00:01    219
2014-01-01 00:00:02    396
2014-01-01 00:00:03     54
2014-01-01 00:00:04    458
2014-01-01 00:00:05    379
2014-01-01 00:00:06      3
2014-01-01 00:00:07    172
2014-01-01 00:00:08    430
2014-01-01 00:00:09     10
2014-01-01 00:00:10     42
2014-01-01 00:00:11    301
2014-01-01 00:00:12     35
2014-01-01 00:00:13    199
2014-01-01 00:00:14    203
2014-01-01 00:00:15    394
2014-01-01 00:00:16    338
2014-01-01 00:00:17    400
2014-01-01 00:00:18    475
2014-01-01 00:00:19    450
2014-01-01 00:00:20    253
2014-01-01 00:00:21    335
2014-01-01 00:00:22    153
2014-01-01 00:00:23     41
2014-01-01 00:00:24     21
2014-01-01 00:00:25    413
2014-01-01 00:00:26    370
2014-01-01 00:00:27    144
2014-01-01 00:00:28    497
2014-01-01 00:00:29    442
                      ...
2014-01-01 00:01:10    255
2014-01-01 00:01:11    491
2014-01-01 00:01:12    354
2014-01-01 00:01:13    154
2014-01-01 00:01:14    468
2014-01-01 00:01:15     11
2014-01-01 00:01:16     46
2014-01-01 00:01:17    467
2014-01-01 00:01:18     40
2014-01-01 00:01:19    466
2014-01-01 00:01:20    480
2014-01-01 00:01:21    141
2014-01-01 00:01:22    446
2014-01-01 00:01:23    104
2014-01-01 00:01:24    239
2014-01-01 00:01:25    467
2014-01-01 00:01:26    157
2014-01-01 00:01:27    460
2014-01-01 00:01:28    358
2014-01-01 00:01:29    258
2014-01-01 00:01:30    463
2014-01-01 00:01:31    197
2014-01-01 00:01:32     66
2014-01-01 00:01:33    113
2014-01-01 00:01:34    121
2014-01-01 00:01:35    371
2014-01-01 00:01:36    343
2014-01-01 00:01:37    233
2014-01-01 00:01:38    478
2014-01-01 00:01:39     63
Freq: S, Length: 100, dtype: int64

In [56]:
# Built in resampling
ts.resample('1Min').mean() # Resample secondly to 1Minutely

2014-01-01 00:00:00    260.183333
2014-01-01 00:01:00    301.300000
Freq: T, dtype: float64

In [57]:
# Many additional time series features
#ts. #use tab(
ts.abs()

2014-01-01 00:00:00    396
2014-01-01 00:00:01    219
2014-01-01 00:00:02    396
2014-01-01 00:00:03     54
2014-01-01 00:00:04    458
2014-01-01 00:00:05    379
2014-01-01 00:00:06      3
2014-01-01 00:00:07    172
2014-01-01 00:00:08    430
2014-01-01 00:00:09     10
2014-01-01 00:00:10     42
2014-01-01 00:00:11    301
2014-01-01 00:00:12     35
2014-01-01 00:00:13    199
2014-01-01 00:00:14    203
2014-01-01 00:00:15    394
2014-01-01 00:00:16    338
2014-01-01 00:00:17    400
2014-01-01 00:00:18    475
2014-01-01 00:00:19    450
2014-01-01 00:00:20    253
2014-01-01 00:00:21    335
2014-01-01 00:00:22    153
2014-01-01 00:00:23     41
2014-01-01 00:00:24     21
2014-01-01 00:00:25    413
2014-01-01 00:00:26    370
2014-01-01 00:00:27    144
2014-01-01 00:00:28    497
2014-01-01 00:00:29    442
                      ...
2014-01-01 00:01:10    255
2014-01-01 00:01:11    491
2014-01-01 00:01:12    354
2014-01-01 00:01:13    154
2014-01-01 00:01:14    468
2014-01-01 00:01:15     11
2014-01-01 00:01:16     46
2014-01-01 00:01:17    467
2014-01-01 00:01:18     40
2014-01-01 00:01:19    466
2014-01-01 00:01:20    480
2014-01-01 00:01:21    141
2014-01-01 00:01:22    446
2014-01-01 00:01:23    104
2014-01-01 00:01:24    239
2014-01-01 00:01:25    467
2014-01-01 00:01:26    157
2014-01-01 00:01:27    460
2014-01-01 00:01:28    358
2014-01-01 00:01:29    258
2014-01-01 00:01:30    463
2014-01-01 00:01:31    197
2014-01-01 00:01:32     66
2014-01-01 00:01:33    113
2014-01-01 00:01:34    121
2014-01-01 00:01:35    371
2014-01-01 00:01:36    343
2014-01-01 00:01:37    233
2014-01-01 00:01:38    478
2014-01-01 00:01:39     63
Freq: S, Length: 100, dtype: int64

### Plotting

In [68]:
ts.plot()

In [59]:
def randwalk(startdate,points):
    ts = pd.Series(np.random.randn(points), index=pd.date_range(startdate, periods=points))
    ts=ts.cumsum()
    ts.plot()
    return(ts)

In [64]:
# Using pandas to make a simple random walker by repeatedly running:
a=randwalk('1/1/2012',1000)

In [65]:
# Pandas plot function will print with labels as default

In [67]:
df = pd.DataFrame(np.random.randn(100, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure();df.plot();plt.legend(loc='best') #

### I/O
I/O is straightforward with, for example, pd.read_csv or df.to_csv

#### The benefits of open source:

Let's look under x's in plt modules

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/10min.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with examples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas